sysmodelgen/src/old/resources/xsd/Levels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="levels">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="block" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
          	<xs:simpleContent>
          		<xs:extension base="xs:string">
          			<xs:attribute type="xs:string" name="name"
          				use="required" />
          			<xs:attribute type="xs:NMTOKEN" name="level"
          				use="optional" />
          			<xs:attribute type="xs:NMTOKENS" name="levels"
          				use="optional" />
          			<xs:attribute type="xs:int" name="span"
          				use="optional" />
          		</xs:extension>
          	</xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="collection" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="xs:NMTOKEN" name="level" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="layer" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="xs:NMTOKENS" name="levels" use="optional"/>
                <xs:attribute type="xs:int" name="span" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>